@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'M Plus Rounded 1c';
  --main-color: rgb(6, 118, 73);
  --secondary-color: rgb(219, 232, 226);
}

.App {
  margin: 2.5rem auto;
  width: 80vw;
}

.navbar {
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: unset;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 2rem;
}

.navbar h1 {
  font-size: 30px;
}

.navbar a {
  color: rgb(20, 20, 20);
  text-decoration: none;
  padding: 1vw;
  transition: all 0.3s;
}

.navbar a:hover {
  color: var(--main-color);
}

.homepage {
  color: rgb(20, 20, 20);
}

.homepage h2 {
  font-size: 25px;
  font-weight: 600;
}

.homepage .section-title {
  padding-top: 2rem;
  font-weight: 500;
}

button {
  all: unset;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 300;
  font-size: 15px;
  color: rgb(242, 242, 242);
  background-color: var(--main-color);
  padding: 0.25rem 0.5rem;
  transition: all 0.3s;
}

button:hover {
  background-color: var(--secondary-color);
  color: rgb(20, 20, 20);
}

.page-preview {
  padding: 0.625rem 1rem;
  font-size: 15px;
  border-left: 2px solid var(--secondary-color);
  margin: 0.5rem 0rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-preview:hover {
  cursor: pointer;
  border-left: none;
  box-shadow: 0.15rem 0.15rem 3px var(--secondary-color);
  border-left: 1px solid white;
}

.page-preview h4 {
  font-weight: 500;
  transition: all 0.3s;
  font-size: 20px;
}

.modal-background {
  cursor: default;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(18, 18, 18, 0.8);
  align-items: center;
}

.confirmation-modal {
  text-align: center;
  width: 40vw;
  height: 25vh;
  margin: auto;
  box-shadow: 0rem 0rem 6px var(--main-color);
  background-color: white;
  border-radius: 3px;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirmation-modal-options button {
  margin: 0.25rem;
}

.page-link {
  text-decoration: none;
  color: black;
}

.full-page h4 {
  font-style: italic;
  font-weight: 400;
}

.make-new {
  max-width: 50%;
  margin: auto;
  text-align: center;
}

.make-new label {
  text-align: left;
  display: block;
}

.make-new h2 {
  color: var(--main-color);
  margin-bottom: 1rem;
}

.make-new input, .make-new textarea {
  width: 100%;
  padding: 0.25rem;
  margin-bottom: 1rem;
  border: 1.5px solid var(--secondary-color);
  border-radius: 2.5px;
  transition: all 0.2s;
}

.make-new input:focus, .make-new textarea:focus {
  outline: none;
  border: 1.5px solid var(--main-color);
}

.page-action {
  text-decoration: none;
}

.full-page button {
  margin: 1rem 0.5rem 1rem 0;
}